<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 这里的namespace名字必须为执行该sql的dao地址&nbsp; -->
<mapper namespace="com.drink.dao.mapper.CustomerSessionMapper">
	<resultMap id="customerSessionMap" type="com.drink.srv.info.CustomerSession">
		<result property="cid" column="cid" />
		<result property="token" column="token" />
		<result property="secret" column="secret" />
		<result property="client" column="client" />
		<result property="lat" column="lat" />
		<result property="lng" column="lng" />
		<result property="expire_at" column="expireAt" />
	</resultMap>

	<select id="getSessionByToken" parameterType="String"
		resultMap="customerSessionMap">  
        <![CDATA[ 
            select cid,token,secret,client,lat,lng,expire_at from t_customer_session where token =  #{token} and expire_at < now()
        ]]>
	</select>

	<select id="getSessionByCid" parameterType="Long" resultMap="customerSessionMap">  
        <![CDATA[ 
            select cid,token,secret,client,lat,lng,expire_at from t_customer_session where cid =  #{cid}
        ]]>
	</select>

	<select id="getSecretByToken" parameterType="String" resultMap="String">  
        <![CDATA[ 
            select secret from t_customer_session where token =  #{token} and expire_at < now()
        ]]>
	</select>

	<insert id="insert" parameterType="com.drink.srv.info.CustomerSession">
		insert into
		t_customer_session(cid, token, secret, client, lat, lng, expire_at)
		values(#{cid}, #{token}, #{secret}, #{client}, #{lat}, #{lng},
		#{expireAt})
	</insert>

	<update id="update" parameterType="com.drink.srv.info.CustomerSession">
		update t_customer_session set
		token=#{token},secret=#{secret},client=#{client},lat=#{lat},lng=#{lng},expire_at=#{expireAt}
		where cid = #{cid}
	</update>

</mapper>