<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 这里的namespace名字必须为执行该sql的dao地址&nbsp; -->
<mapper namespace="com.drink.dao.mapper.CustomerMapper">
	<resultMap id="customerMap" type="com.drink.srv.info.Customer">
		<result property="cid" column="cid" />
		<result property="countryCode" column="country_code" />
		<result property="cityId" column="city_id" />
		<result property="mobile" column="mobile" />
		<result property="nickname" column="nickname" />
		<result property="gender" column="gender" />
		<result property="password" column="password" />
		<result property="photo" column="photo" />
		<result property="email" column="email" />
	</resultMap>

	<select id="getCustomerByCid" parameterType="Long" resultMap="customerMap">  
        <![CDATA[ 
            select cid,country_code,city_id,mobile,nickname,gender,photo from t_customer where cid =  #{cid}
        ]]>
	</select>

	<select id="getCustomerByPhone" parameterType="String"
		resultMap="customerMap">  
        <![CDATA[ 
            select cid,country_code,city_id,mobile,nickname,gender,photo from t_customer where mobile =  #{phone}
        ]]>
	</select>

	<select id="getCustomerIdByPhone" parameterType="String" resultType="Long">  
        <![CDATA[ 
            select cid from t_customer where mobile =  #{phone}
        ]]>
	</select>

	<insert id="insert" parameterType="com.drink.srv.info.Customer">
		insert into
		t_customer(cid,country_code,city_id,mobile,nickname,gender,password,photo)
		values(#{cid}, #{countryCode}, #{cityId}, #{mobile}, #{nickname},
		#{gender},
		#{password}, #{photo}, #{email})
	</insert>


</mapper>